.nav-item {
  color: black;
  font-weight: 800;
}
.nav-item.active {
  color: black;
  font-weight: 800;
  border-bottom: orange;
  border-bottom-style: solid;
}
.navbar {
  background-color: white !important;
  /* -webkit-box-shadow: 0px 1px 5px 0px rgba(102, 102, 102, 1);
  -moz-box-shadow: 0px 1px 5px 0px rgba(102, 102, 102, 1);
  box-shadow: 0px 1px 5px 0px rgba(102, 102, 102, 1); */
}
#navbar-icon {
  width: 200px;
  height: 90px;
}
.home-link-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 1025px) {
  /* desktop */
  .nav-collapse-div {
    margin-right: auto !important;
  }
  .nav-item {
    margin: 0px 50px;
  }
  #nav-item-divider {
    border-right: solid 2px orange;
    width: 2px;
    height: 70px;
    margin-left: 20px;
  }
  #home-container {
    height: calc(100vh - 116px);
  }
  #home-row-1 {
    height: 100%;
  }
  .c-item {
    height: calc(100vh - 116px);
  }
  #home-img-col {
    padding: 0px !important;
  }
  #home-content-flex-row {
    display: flex;
    justify-content: center;
    height: 100%;
  }
  #home-content-flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: -50px;
  }
}

@media (min-width: 760px) and (max-width: 1000px) {
  /* ipad */
  #nav-item-divider-div {
    display: none !important;
  }
  .nav-item {
    text-align: center;
    text-align: center;
    padding: 10px 0px;
    margin: 0px 250px;
  }
  #home-row-1 {
    height: 450px;
  }
  .c-item {
    height: 450px;
  }
  #home-img-col {
    padding: 0px !important;
  }
  #home-content-flex-row {
    display: flex;
    justify-content: center;
    height: 100%;
  }
  #home-content-flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 50px;
  }
}
@media (min-width: 770px) and (max-width: 1025px) {
  /* ipad pro */
  .nav-collapse-div {
    margin-right: auto !important;
  }
  #nav-item-divider {
    border-right: solid 2px orange;
    width: 2px;
    height: 70px;
    margin-left: 20px;
  }
  .nav-item {
    margin: 0px 50px;
  }
  #home-row-1 {
    /* height: 500px; */
    height: 100%;
  }
  .c-item {
    /* height: 500px; */
    height: calc(100vh - 116px);
  }
  #home-img-col {
    padding: 0px !important;
  }
  #home-container {
    height: calc(100vh - 116px);
  }
  #home-content-flex-row {
    display: flex;
    justify-content: center;
    height: 100%;
  }
  #home-content-flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: -150px;
  }
}

@media (max-width: 759px) {
  /* iphone */
  #nav-item-divider-div {
    display: none !important;
  }
  .nav-item {
    text-align: center;
    padding: 10px 0px;
    margin: 0px 100px;
  }
  #navbar-icon {
    width: 150px;
    height: 65px;
  }
  #home-row-1 {
    height: 500px;
  }
  .c-item {
    height: 500px;
  }
  #home-img-col {
    padding: 0px !important;
  }
  #home-content-flex-row {
    display: flex;
    justify-content: center;
    height: 100%;
  }
  #home-content-flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 50px;
  }
}
